/* Header */
#header-wrapper {
  margin-bottom: .5em;
}
#site-name {
  display: none;
}
#branding {
  padding: 0;
}
#logo {
  padding: 0;
}
#logo img {
  max-width: 100%;
  height: auto;
  width: 100%
}
/* End Header */

/* Color fixes for contrast */
.form-required {
  color:#af0000;
}
/* End color contrast fixes */

/* Layout fixes */
.region-sidebar-first, .region-sidebar-second {
  margin-top: .5em;
}

#top-pane-title h1 {
  color: #8C58B7;
  font-size: 2em;
  text-transform: none;
}
.block-title {
  border-bottom: 2px solid;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}
/* End Layout Fixes */

/* Correct SF menu colour error */
#block-superfish-1 h2.block-title {
  color:#f8f8f8;
}
.sf-menu.sf-style-default li.active-trail a.sf-depth-1,
.sf-menu.sf-style-default li.active-trail a.sf-depth-1:visited
{
  color: #2E2E2D;
}
.sf-menu.sf-style-default li.active-trail a.sf-depth-1 .sf-sub-indicator,
.sf-menu.sf-style-default li.active-trail a.sf-depth-1:visited .sf-sub-indicator
{
  background:url("/sites/all/libraries/superfish/images/arrows-777777.png") no-repeat scroll -10px -100px transparent;
}
/* End Superfish menu corrections */

/* FlexSlider */
#flexslider-1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom:30px;
}
/* End Flexslider */

/* Social Media Links */
#followus {
  margin:1em 0;
  text-align:left;
}
#followus a div {
  display:inline-block;
  margin-left:4px;
  margin-right:4px;
}
/* End Social Media Links */

/* OG Events list */

.view-og-events .views-row {
  border-bottom: 1px solid #E1E1E1;
  padding-top: 5px;
  padding-bottom: 5px;
}
.view-og-events .views-row-last {
  border-bottom: none;
}
/* End OG Events list */

/* Reponsive Upcoming List */

#block-views-upcoming-events-block-1 {
  width: 100%;
  overflow: hidden;
}
#block-views-upcoming-events-block-1 .views-field-title {
  font-weight: bold;
  font-size: 1.2em;
}
@media only screen and (min-width:769px) {
  #block-views-upcoming-events-block-1 .views-row-1,
  #block-views-upcoming-events-block-1 .views-row-2,
  #block-views-upcoming-events-block-1 .views-row-3,
  #block-views-upcoming-events-block-1 .views-row-4,
  #block-views-upcoming-events-block-1 .views-row-5 {
    width: 18%;
    padding:0 1%;
    float:left;
  }
}
@media only screen and (max-width:768px) {
  #block-views-upcoming-events-block-1 .views-row-1,
  #block-views-upcoming-events-block-1 .views-row-2,
  #block-views-upcoming-events-block-1 .views-row-3,
  #block-views-upcoming-events-block-1 .views-row-4,
  #block-views-upcoming-events-block-1 .views-row-5 {
    width: 90%;
    padding:.5em 5%;
  }

}
/* End Responsive Upcoming List */

@media only screen and (min-width:1025px) {
}

@media only screen and (min-width:769px) and (max-width:1024px) {
}

@media only screen and (min-width:481px) and (max-width:768px) {
}

@media only screen and (min-width:321px) and (max-width:480px) {
}

@media only screen and (max-width:320px) {
}
