/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

#header-wrapper {
  margin-bottom: .5em;
}

#site-name {
  display: none;
}

#branding {
  padding: 0;
}

#logo {
  padding: 0;
}

#logo img {
  max-width: 100%;
  height: auto;
  width: 100%
}

.region-sidebar-first, .region-sidebar-second {
  margin-top: .5em;
}

.block-title {
  border-bottom: 2px solid;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}

#flexslider-1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom:30px;
}

/* Social Media Links */
#followus {
  margin:1em 0;
  text-align:left;
}

#followus a div {
  display:inline-block;
  margin-left:4px;
  margin-right:4px;
}
/* End Social Media Links */


/* Reponsive Upcoming List */

#block-views-upcoming-events-block-1 {
  width: 100%;
  overflow: hidden;
}
#block-views-upcoming-events-block-1 .views-field-title {
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (min-width:769px) {
  #block-views-upcoming-events-block-1 .views-row-1,
  #block-views-upcoming-events-block-1 .views-row-2,
  #block-views-upcoming-events-block-1 .views-row-3,
  #block-views-upcoming-events-block-1 .views-row-4,
  #block-views-upcoming-events-block-1 .views-row-5 {
    width: 18%;
    padding:0 1%;
    float:left;
  }
}
@media only screen and (max-width:768px) {
  #block-views-upcoming-events-block-1 .views-row-1,
  #block-views-upcoming-events-block-1 .views-row-2,
  #block-views-upcoming-events-block-1 .views-row-3,
  #block-views-upcoming-events-block-1 .views-row-4,
  #block-views-upcoming-events-block-1 .views-row-5 {
    width: 90%;
    padding:.5em 5%;
  }

}

/* End Responsive Upcoming List */

@media only screen and (min-width:1025px) {
}

@media only screen and (min-width:769px) and (max-width:1024px) {
}

@media only screen and (min-width:481px) and (max-width:768px) {
}

@media only screen and (min-width:321px) and (max-width:480px) {
}

@media only screen and (max-width:320px) {
}
